/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
}

.logo img {
    height: 40px;
    width: auto;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
}

.primary-button {
    background-color: #17372B;
    color: white !important;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Grille de témoignages */
.temoignages {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.temoignages h1 {
    text-align: start;
    margin-bottom: 3rem;
    color: #17372B;
}

.temoignages-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}

.temoignage-card {
    background-color: rgba(173, 188, 157, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 1.5rem;
}

.photo_info {
    display: flex;
}

.photo_info img {
    border-radius: 50%;
    width: 60px;
}

.temoignage-card:hover {
    background-color: rgba(173, 188, 157, 0.9);
    transform: scale(1.05);
}

/* Formulaire */
.ajout-temoignage {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
}

.motivation {
    width: 100%;
    margin: 0;
}

.temoignage-form {
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 2rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    /* Navigation mobile */
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding: 2rem;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        right: 0;
    }

    /* Ajustement grille */
    .temoignages-grid {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .temoignage-card:hover {
        transform: scale(1.02);
    }

    /* Ajustement formulaire */
    .ajout-temoignage {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 1rem;
    }

    .motivation {
        text-align: center;
    }

    .temoignage-form {
        padding: 1rem;
    }
}