/* Reset des marges et des paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style du corps de la page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Style de l'en-tête */
header {
    position: relative;
}

.hero-image {
    width: 100%;
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: auto;
}

/* Style du main */
main {
    padding: 20px;
}

/* Section des témoignages */
/* Card style */
.temoignage-grid {
    display: grid;
    grid-template-rows: repeat(100em, minmax());
}
.temoignage {
    background-color: #17372B;
    align-items: center;
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(6, 1fr);
}

.temoignage-card {
    padding: 1em;
    margin: 1em;
    background-color: rgba(173, 188, 157, 0.2);
    border-radius: 10px;
    width: 20em;
}

.temoignage-card:hover {
    padding: 1em;
    margin: 1em;
    background-color: rgba(173, 188, 157, 0.9);
    transform: scale(1.2);
    border-radius: 10px;
    transition: 1s;
}
.temoignage-info {
    margin-left: 1em;
}

.temoignage-info h2 {
    color: #17372B;
}
.photo_utilisatuer {
    border-radius: 50%;
    width: 6em;
    height: auto;
}

.rating {
    margin-top: 0;
    color: yellow;
}
.photo_info {
    display: flex;
    
}
.commentaire {
    color: white;
    width: 20em;
    font-style: italic;
    font-weight: 900;
}
.card {
    align-items: center;
    width: 18em;
    height: auto;
}


/* Formulaire  et ajouter un commentaire*/
.ajout-temoignage {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.motivation {
    width: 50vw;
    height: auto;
}

.temoignage-form {
    display: grid;
    width: 50vw;
    height: auto;
    padding: 0.25em;
    border-radius: 10px;

}

.form-group {
    display: grid;
    font-weight: 700;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
}

input[type="text"],
input[type="email"],
textarea,
.btn-submit{
    border: 0.5pt solid rgba(173, 188, 157, 0.9);
    border-radius: 10px;
    resize: vertical;
}

.btn-submit {
    background-color:white;
    color: rgb(23, 55, 43);
}

.btn-submit:hover {
    color:white;
    background-color: rgb(23, 55, 43);
    transform: scale(2);
    transition: 0.5s;
}
