

.catalogue-header {
    background: linear-gradient(180deg, #ADBC9D,rgba(0,0,0,0.5)), url(./assetS/imgs/catalogue-bg.jpg);
    background-size: cover;
    height: 100vh;
}

/* .container_first_part{
    width: 75%;
    margin: auto;
    height: 90px;
} */
.logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}


.catalogue-hero_content{
    position: relative;
    top: 30vh;
}
.catalogue-hero_content h1 {
    text-align: center;
    color: aliceblue;
    font-size: 6rem;
    
}
.catalogue-hero_content p {
    margin-top: 20px;
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
}
/* .button {
    width: 100%;
    padding-top: 10%;
    margin-top: 30px;
    justify-content: space-between;
    border-radius: 100%;
    flex-direction: row;
    

} */ 



